.title
{
    text-align: center;
    color: #555 !important;
    padding-bottom: 20px;
}
.title::after
{
    content: "";
    background: #007bff;
    display:block;
    height: 3px;
    width: 170px;
    margin:10px auto 5px;
}
.about
{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #F0F5F8!important;
}
.about .btn 
{
    margin-top: 20px;
    margin-bottom: 30px;
}
.thread
{
    width:200px;
    border: 2px solid black;
    
}
.name
{
    width:200px;
}
.info_img
{
    height: 450px;
}
