.meeting {
  position: relative;
}
.meeting:hover > button {
  opacity: 1;
}
.box_doctor {
  width: 100%;
  height:360px;
  padding: 10px;
  background: #fafafa;
  max-width: 600px;
  border-radius: 10px;
}

.icon {
  color: #333;
  font-size: 33px;
  line-height: 34px;
  font-weight: lighter;
}

.btn_prev,
.btn_next {
  background: rgba(221, 221, 221, 0.77);
  border-radius: 90%;
  text-align: center;
  height: 40px;
  width: 40px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  position: absolute;
  z-index: 10;
  top: 47%;
  left: 92px;
  border: 1px solid #fafafa;
}

.btn_next {
  right: 89px !important;
  left: auto;
}

.btn_prev:hover,
.btn_next:hover {
  background:#007bff ;
}

.btn_prev:hover > i,
.btn_next:hover > i {
  color: #fff;
}


/* content */
.container
{
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  text-align: center;
}
.name
{
  font-weight: 800;
  padding-top: 10px;
  color:#007bff ;
}
.title
{
  font-weight: 800;
  font-size: 18px;
  padding-top: 10px;
  font-style: italic;
}
.img
{
  width: 100%;
  height: 400px;
}


@media only screen and (max-width: 900px) {
  .img{
    width: 100%;
    height:200px;
  }
  .container
  {
    font-size: 16px;
  }
  .title
  {
    font-size: 16px;
  }
  .box_doctor
  {
    height:250px;
  }
}